/*
 *author:chenjiantao
 *created time:2013-10-30
 *description:gafansky.com base css style
*/
/*text-shadow:0 1px 0 #ddd;*/
html{background:#fafafa url(../img/bg4.png) repeat fixed;color:#626262;font-size:12px;font-family:'Microsoft YaHei',微软雅黑,'Lucida Grande',Helvetica,Arial,STHei,sans-serif;}
* *{-moz-user-select:none;}
a,img{-webkit-transition:all .3s ease-out 0;-moz-transition:all .3s ease-out 0;-ms-transition:all .3s ease-out 0;-o-transition:all .3s ease-out 0;transition:all .3s ease-out 0;text-decoration:none;color:#4399ee;transition: all 0.5s ease-in 0s, all 0.3s ease-out 0s;}
a:hover{text-decoration:none;cursor:pointer;}
a{text-decoration:none;}
h1{font-size:20px;color:#FF6100;font-weight: normal;}
.fleft{float:left;}
.fright{float:right;}
.ls{letter-spacing:2px;}
.ofh{overflow:hidden;}
.mt80{margin-top:80px;}
.mt100{margin-top:100px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mb30{margin-bottom:30px;}
.mt25{margin-top:25px;}
.mt35{margin-top:35px;}
.mr10{margin-right:10px;}
.w100p{width:100%;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pr2{padding-right:2px;}
.p10{padding:10px;}
.minh8{min-height:800px;}
.txtr {text-align:right;}
.txtc {text-align:center;}
h3 a{font-size: 18px;line-height: 24px;}
input:-moz-placeholder { color: #8e8e8e; }
::-webkit-input-placeholder { color:#8e8e8e; }
::-webkit-scrollbar
{
	margin-right:5px;
	background-color:#ddd;
	width:10px;
}

::-webkit-scrollbar-track
{
	box-shadow:0 0 2px #ccc;
}

::-webkit-scrollbar-thumb
{
	border:1px #eee solid;
	border-radius:4px;
	background:#777;
	box-shadow:0 0 8px #555 inset;
	-webit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

::-webkit-scrollbar-thumb:window-inactive
{
	background:#448aca;
	box-shadow:0 0 8px #999 inset;
}

::-webkit-scrollbar-thumb:hover
{
	background:#448aca;
}